/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, Helvetica, sans-serif;
}


/* FUNDO DO SITE */

body{
background:#fdf0ff;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}


/* TELA INICIAL */

#telaInicial{
background:rgb(255, 255, 255);
padding:40px;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
width:800px;
text-align:center;
}

#telaInicial h2{
margin-bottom:30px;
}


/* CAIXAS DE ESCOLHA */
.opcoes{
display:flex;
flex-direction:column;
gap:15px;
}

.box{
background:#ff94db;
color:white;
padding:14px;
border-radius:10px;
cursor:pointer;
font-weight:bold;
text-align:center;
font-size:14px;
max-width:300px;
margin:auto;
height:55px;

display:flex;
align-items:center;
justify-content:center;

transition:0.2s;
}

.box:hover{
background:#ff94db;
transform:scale(1.02);
}
/* EDITOR */

#editor{
background:white;
padding:40px;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
width:900px;
}


/* LAYOUT */

.container{
display:flex;
gap:40px;
align-items:flex-start;
flex-wrap:wrap;
}


/* FORMULÁRIO */

.formulario{
width:300px;
display:flex;
flex-direction:column;
gap:15px;
}

.formulario h3{
margin-bottom:10px;
}

.formulario label{
font-size:14px;
color:#555;
}

.popup{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.5);
display:none;
align-items:center;
justify-content:center;
}

.popupBox{
background:white;
padding:30px;
border-radius:15px;
width:320px;
text-align:left;
}

.botoesResumo{
margin-top:20px;
display:flex;
gap:10px;
}

.botoesResumo button{
flex:1;
padding:10px;
border:none;
border-radius:8px;
background:#ff8cc8;
color:white;
cursor:pointer;
}

button{
padding:8px 16px;
border:none;
border-radius:8px;
background:#444;
color:white;
cursor:pointer;
margin-bottom:10px;
}

/* INPUTS ESTILO GOOGLE */

.formulario input,
.formulario select{

padding:10px;
border:none;
border-bottom:2px solid #ccc;
font-size:14px;
outline:none;
transition:0.3s;

}

.formulario input:focus,
.formulario select:focus{

border-bottom:2px solid #ff94db;

}


/* BOTÃO */

.formulario button{

margin-top:15px;
padding:12px;
border:none;
background:#ff94db;
color:white;
border-radius:8px;
cursor:pointer;
font-weight:bold;
transition:0.3s;

}

.formulario button:hover{

background:#ff94db;

}

.preview{

flex:1;
text-align:center;

}

.preview h3{
margin-bottom:20px;
}


#pulseiraPreview{

width:300px;
height:300px;

background: transparent;

border-radius:15px;

display:flex;
justify-content:center;
align-items:center;

margin:auto;

}


#pulseira{
position:relative;
width:300px;
height:300px;
}



.micanga{

width:22px;
height:22px;
border-radius:50%;
background:#ffc8dd;
box-shadow:inset -2px -2px 4px rgba(0,0,0,0.2);

}

/* pérola */

.perola{

background:white;
border:2px solid #ddd;

}

/* olho grego */

.olho{

background:blue;
border:4px solid white;

}

/* charme */

.charme{

position:absolute;

font-size:22px;

left:144px;
top:250px;

transform:translate(-50%,-50%);

}




@media (max-width: 768px){

.container{
flex-direction:column;
align-items:center;
}

.formulario{
width:100%;
max-width:350px;
}

.preview{
width:100%;
}

#pulseiraPreview{
width:220px;
height:220px;
}

}
@media (max-width: 600px){

#pulseiraPreview{
display:flex;
justify-content:center;
align-items:center;
}

#pulseira{
margin:auto;
left: -50px;
right: 0;
margin-top: -30px;
}

}
.info{
font-size:13px;
color:#666;
margin-top:3px;
}
